[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "2.9.9"
types-psycopg2 = "2.9.21.20240311"
faker = "24.3.0"
pymongo = "4.6.2"
python-dotenv = "1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
